<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MakeICT Electronic Door{{TITLE}}</title>

		<link href="style/main.css" rel="stylesheet" type="text/css" />
		{{ADDITIONAL_CSS}}

		<script type="text/javascript" src="script/convenience.js"></script>
		{{ADDITIONAL_JAVASCRIPT}}
	</head>
	
	<body>
		<div id="page">
			<div id="header">
			</div>
			
			<div id="content">
				{{PAGE_CONTENT}}
			</div>
				
			<div id="footer">
			</div>
		</div>
	</body>
</html>
