td {
	vertical-align: top;
}

.tagCell {
	padding: 0;
}

.tagContainer {
	padding: 0.25em;
}

.tag {
	position: relative;
	width: 20px;
	display: inline;
	cursor: pointer;
}

.tagHoverIcon {
	position: absolute;
	top: -7px;
	right: -2px;
	display: none;
}

.tagAdder {
	float: right !important;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.toggleButton {
	float: right;
	height: 27px;
	padding: 3px;
	cursor: pointer;
}

.unusedTagsBox {
	clear: both;
	border-top: 2px solid #777;
	background-color: #ddd;
	padding: 2px;
	margin: 0;
	font-style: italic;
}
.unusedTagsBox .text {
	text-align: center;
	height: 18px;
	padding: 3px;
}

.tagCell {
	width: 10em;
}
